{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto sobre Gestion Vehicular - Grupo C</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- RECORDAR QUE ESTO ES UNA TEMPLATE NO LA PAGINA COMPLETA -->
    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="content-left">
            <a href="/">Inicio</a>
            <a href="/acerca">Acerca de</a>
        </div>
        <div class="content-right">
            <a class="login" href="/login">Iniciar Sesion</a>
            <a class="register" href="/register">Registrarse</a>
        </div>
    </nav>
    <!-- ENTRADA -->
    <div class="entrada">
        <h1 class="titleEntrada">DS Travel</h1>
    </div>
    <!-- DIV INPUT -->
    <div class="inputData">

    </div>
    <!-- FOOTER -->
    <div class="footer">

    </div>
</body>
</html>