{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto sobre Gestion Vehicular - Grupo C</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <!-- RECORDAR QUE ESTO ES UNA TEMPLATE NO LA PAGINA COMPLETA -->
    <!-- NAVBAR -->
    <nav class="navbar">
        <div class="content-left">
            <a href="/">Inicio</a>
            <a href="/acerca">Vuelos</a>
            <a href="/acerca">Alojamientos</a>
            <a href="/acerca">Paquetes</a>
        </div>
        <div class="content-right">
            <a class="login" href="/login">Iniciar Sesion</a>
            <a class="register" href="/register">Registrarse</a>
        </div>
    </nav>
    <!-- ENTRADA -->
    <div class="entrada">
        <h1 class="titleEntrada">DS TRAVEL</h1>
        <div class="splashEntrada">
            <h2 class="splashText">Viaja con nosotros, <br>
                <h2 class="splashVioletText">viaja seguro.</h2>
            </h2>
            <p>Encontra los mejores descuentos que tenemos para vos.</p>
            <button class="seeOffer">Ver Ofertas</button>
        </div>
    </div>
    <!-- DIV INPUT -->
    <form>
        <div class="inputCenter">
            <div class="inputData">
                <div class="inputDataSelectionFirst">
                    <div class="input">
                        <input type="checkbox" />
                        <label>Todo Incluido</label>
                    </div>
                    <div class="input">
                        <input type="checkbox" />
                        <label>Vuelos</label>
                    </div>
                    <div class="input">
                        <input type="checkbox" />
                        <label>Hoteles</label>
                    </div>
                    <div class="input">
                        <input type="checkbox" />
                        <label>Autos</label>
                    </div>
                    <div class="input">
                        <input type="checkbox" />
                        <label>Paquetes</label>
                    </div>
                </div>
                <div class="chooseFlight">
                    <p>Escoge uno o mas para crear tu proximo viaje:</p>
                    <div class="chooseRowFlight">
                        <div class="input">
                            <input type="checkbox" />
                            <label>Hotel</label>
                        </div>
                        <div class="input">
                            <input type="checkbox" />
                            <label>Vuelo</label>
                        </div>
                        <div class="input">
                            <input type="checkbox" />
                            <label>Auto</label>
                        </div>
                    </div>
                </div>
                <div class="dateInfoFlight">
                    <!-- Van a ser input con sugerencias -->
                    <input type="text" placeholder="Origen"/>
                    <input type="text" placeholder="Destino"/>
                    <input type="date" placeholder="Origen"/>
                    <input type="date" placeholder="Origen"/>
                </div>
                <div class="secondaryInfoFlight">
                    <select>
                        <option value="idaVuelta">Ida y vuelta</option>
                        <option value="onlyIda">Solo Ida</option>
                    </select>
                    <select>
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                    </select>
                </div>
                <div class="submitDataDiv">
                    <button type="submit" class="submitDataFromHome">Continuar</button>
                </div>
            </div>
        </div>        
    </form>
    <!-- OFERTAS EXCLUSIVAS -->
    <div class="ofertasExclusivas">
        <h1 class="ofertasTitle">Ofertas exclusivas</h1>
        <p class="muted ofertasDescription">Navega por la web y descubre todos los beneficios que tenemos para vos.</p>
        <div class="ofertasList">
            <div class="oferta">
                <div class="imgInformation">
                    <img width="300"
                        src="https://viajes.nationalgeographic.com.es/medio/2022/07/11/praga_c881ed8b_1280x720.jpg"
                        alt="Prueba" class="ofertaImg" />
                    <div class="textOfferImage">
                        <p>Desde $1999</p>
                    </div>
                </div>
                <div class="ofertaInformation">
                    <div class="ofertaName">
                        <h3>Praga</h3>
                        <p>Republica Checa</p>
                    </div>
                    <div class="ofertaRating">
                        <i class="fa-solid fa-star"></i>
                        <p>4.7</p>
                    </div>
                </div>
            </div>
            <div class="oferta">
                <div class="imgInformation">
                    <img width="300"
                        src="https://viajes.nationalgeographic.com.es/medio/2022/07/11/praga_c881ed8b_1280x720.jpg"
                        alt="Prueba" class="ofertaImg" />
                    <div class="textOfferImage">
                        <p>Desde $1999</p>
                    </div>
                </div>
                <div class="ofertaInformation">
                    <div class="ofertaName">
                        <h3>Praga</h3>
                        <p>Republica Checa</p>
                    </div>
                    <div class="ofertaRating">
                        <i class="fa-solid fa-star"></i>
                        <p>4.7</p>
                    </div>
                </div>
            </div>
            <div class="oferta">
                <div class="imgInformation">
                    <img width="300"
                        src="https://viajes.nationalgeographic.com.es/medio/2022/07/11/praga_c881ed8b_1280x720.jpg"
                        alt="Prueba" class="ofertaImg" />
                    <div class="textOfferImage">
                        <p>Desde $1999</p>
                    </div>
                </div>
                <div class="ofertaInformation">
                    <div class="ofertaName">
                        <h3>Praga</h3>
                        <p>Republica Checa</p>
                    </div>
                    <div class="ofertaRating">
                        <i class="fa-solid fa-star"></i>
                        <p>4.7</p>
                    </div>
                </div>
            </div>
            <div class="oferta">
                <div class="imgInformation">
                    <img width="300"
                        src="https://viajes.nationalgeographic.com.es/medio/2022/07/11/praga_c881ed8b_1280x720.jpg"
                        alt="Prueba" class="ofertaImg" />
                    <div class="textOfferImage">
                        <p>Desde $1999</p>
                    </div>
                </div>
                <div class="ofertaInformation">
                    <div class="ofertaName">
                        <h3>Praga</h3>
                        <p>Republica Checa</p>
                    </div>
                    <div class="ofertaRating">
                        <i class="fa-solid fa-star"></i>
                        <p>4.7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- PASOS VIAJE -->
    <div class="pasosFlight">
        <h1 class="pasosFlightTitle">Tu mejor viaje en 4 pasos</h1>
        <p class="pasosFlightDescription muted">Nosotros nos encargamos</p>
        <div class="explainingPasosFlight">
            <h2>1</h2>
            <h3>Registrate</h3>
            <h2>2</h2>
            <h3>Elegi tu paquete</h3>
            <h2>3</h2>
            <h3>Planea tu viaje</h3>
            <h2>4</h2>
            <h3>Disfruta</h3>
        </div>
    </div>
    <!-- FOOTER -->
    <div class="footer">
        <div class="socialInformation">
            <h1>DS Travel</h1>
            <p>Siguenos en nuestras redes y enterate de mucho mas.</p>
            <div class="socialMediaInformation">
                <a class="linkSocial"><i class="fa-brands fa-facebook fa-xl" id="iconoSocialFooter"></i></a>
                <a class="linkSocial"><i class="fa-brands fa-instagram fa-xl" id="iconoSocialFooter"></i></a>
                <a class="linkSocial"><i class="fa-brands fa-twitter fa-xl" id="iconoSocialFooter"></i></a>
            </div>
        </div>
        <div class="formalInformation">
            <div class="firstColumnFormalInfo">
                <h3>Express</h3>
                <a>Acerca de nosotros</a>
                <a>Planes</a>
                <a>Ofertas</a>
                <a>Politica de Privacidad</a>
            </div>
            <div class="secondColumnFormalInfo">
                <h3>Contacto</h3>
                <a>Ayuda</a>
                <a>FAQ</a>
                <a>Afiliados</a>
            </div>
            <div class="thirdColumnFormalInfo">
                <h3>Mas</h3>
                <a>Control</a>
                <a>Nuestro Blog</a>
                <a>Tips</a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/e80c9c3cc8.js" crossorigin="anonymous"></script>
   <script src={% static 'js/home.js' %} crossorigin="anonymous"></script> 
</body>

</html>