/* Configuraciones Globales */

html {
    scroll-behavior: smooth;
}

:root {
    --color-primario: #691e63;
    --color-primario-oscuro: #42133e;
}

* {
    font-family: 'Anek Devanagari', sans-serif;
}

.muted {
    color: #c7c7c7;
}

.link {
    cursor: pointer;
    color: #20578d;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Configuracion del Navbar (solamente diseño) */


nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-top: 10px;
}

.content-left a {
    transition: 0.5s;
    margin-left: 10px;
    color: rgb(34, 34, 34);
}

.content-right a {
    margin-left: 5px;
    padding: 2px;
}

.content-left a:hover {
    transition: 0.5s;
    color: rgb(153, 153, 153);
}

.login {
    transition: 0.5s;
    border: 1px solid var(--color-primario);
    color: var(--color-primario);
    border-radius: 5px;
}

.login:hover {
    transition: 0.5s;
    color: var(--color-primario-oscuro);
}

.register {
    transition: 0.5s;
    background-color: var(--color-primario);
    color: #ffffff;
    border-radius: 5px;
}

.register:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

/* FALTA TODAVIA Entrada: contiene titulo, descripcion, imagenes, etc. (solo diseño) */

.titleEntrada {
    text-align: center;
    color: var(--color-primario);
    font-size: 85px;
}

.splashEntrada {
    font-size: 23px;
    margin-top: -45px;
    margin-left: 18em;
    line-height: 45px;
}

.splashVioletText {
    color: var(--color-primario);
}

.splashEntrada p {
    font-size: 15px;
    line-height: 21px;
    max-width: 210px;
    margin-top: 15px;
}

.seeOffer {
    transition: 0.5s;
    background-color: var(--color-primario);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 7px;
    width: 12%;
    margin-top: 15px;
}

.seeOffer:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

/* Input Data Home */

.formHomeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formHomeDiv input,
.formHomeDiv select {
    border-radius: 2px;
    border: none;
    margin-left: 5px;
    font-size: 15px;
}

.titleForm {
    color: #ffffff;
    font-size: 21px;
    margin-left: 5px;
}

.error {
    display: none;
    background-color: rgba(255, 137, 137, 0.507);
    color: rgba(31, 2, 1, 0.507);
    padding: 3.5px;
    border-radius: 3.5px;
}

#error p {
    margin-left: 6.5px;
}

.formHomeDetails label,
.formHomeDetailsTwo label {
    color: #ffffff;
    font-size: 12.5px;
    margin-left: 5px;
    margin-top: 5px;
}

.formHomeDiv input[type=datetime-local] {
    padding: 8px;
}

.formHomeDetails input[type=text] {
    padding: 9px;
}

.formHomeDiv {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    background-color: #c6acd1;
    padding: 30px;
}

.formHome {
    display: flex;
    flex-direction: column;
    background-color: #382441;
    border-radius: 6.5px;
    padding: 15px;
    width: fit-content;
}

.formHomeRow {
    display: flex;
    flex-direction: row;
}

.formHomeDetailsTwo {
    display: flex;
    flex-direction: row;
}

.formHomeDetails div,
.formHomeDetailsTwo div {
    display: flex;
    flex-direction: column;
}

.submitButtonFormHome {
    margin-left: 5px;
    margin-top: 27px;
    padding: 9px;
    border-radius: 2.5px;
    color: #ffffff;
    font-size: 15px;
    width: 120px;
    border: none;
    background-color: #bd99e0;
}

.autosDisponiblesDiv {
    margin-top: 2em;
    width: 44em;
    background-color: #ffffff;
    border-radius: 6.5px;
    padding: 15px;
    display: none;
}

.autosDisponiblesDiv label {
    color: #000000;
    font-size: 21px;
    margin-left: 5px;
    font-weight: bold;
}

.datoVehiculo {
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.imgInformationVehiculo img {
    object-fit: cover;
    width: 170px;
    height: 90px;
    border-radius: 13px;
}

.informationVehiculo {
    display: flex;
    flex-direction: row;
}

.informationVehiculo h2 {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
}

.informationVehiculo p {
    margin-top: 6px;
    font-size: 14px;
    margin-left: 5px;
    color: #9e9e9e;
}

.datosVehiculo {
    display: flex;
    flex-direction: column;
}

.infoVehiculoDetails {
    display: flex;
    flex-direction: row;
}

.infoVehiculoDetails div {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.infoVehiculoDetails div p {
    margin-left: 5px;
    margin-top: -3.5px;
    font-size: 14.5px;
}

.capacidadDetails {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.capacidadDetails i {
    margin-top: 8px;
}

.autoProovedor {
    margin-left: 10px;
}

.reservarButton {
    margin-top: 10px;
    margin-left: 32em;
    border: none;
    padding: 5px;
    background-color: #e2e1e4;
    width: 85px;
    border-radius: 5px;
}

/* Order Details (vehiculo) */

.checkout {
    margin-top: 50px;
}

.ubicationDetailsVehiculo {
    display: flex;
    flex-direction: row;
}

.ubicacionVehiculo {
    background-color: #f5f5f5;
    padding: 5px;
}

.detallesUbicacionVehiculo {
    display: flex;
    flex-direction: row;
    margin-left: 12.5em;
}

.detallesUbicacionVehiculo div {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.detallesUbicacionVehiculo div i {
    margin-top: 2.5px;
}

#daysCountBetween {
    margin-top: 1px;
    margin-left: 5px
}

.lugarNombreVehiculo,
#fechaRetiro,
#fechaRegreso {
    margin-left: 5px;
    margin-top: 1px;
}

.autoDetallesCompra {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 10px;
    margin-top: 16.5px;
}

.autoDetallesPrincipales {
    display: flex;
    flex-direction: row;
    margin-left: 13em;
}

.autoDetallesPrincipales img {
    width: 145px;
    height: 75px;
    border-radius: 10px;
}

.autoDetallesPrincipales h1 {
    font-size: 26px;
    font-weight: 500;
    margin-left: 15px;
}

.datosVehiculoCheckOut {
    margin-top: -20px;
}

.datosVehiculo2 {
    display: flex;
    flex-direction: row;
}

.datosVehiculo2 p {
    margin-top: 27.5px;
}

.reservaTotal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.resumenReserva {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.resumenReserva div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    border-radius: 3px;
    margin-top: 4px;
    padding: 5px;
}

.resumenReserva div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 450px;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px;
    color: #8f8f8f;
}

.resumenReserva div p:nth-child(1) {
    margin-left: 10px;
}

.resumenReserva div p:nth-child(2) {
    margin-right: 10px;
}

#finalTexto,
#finalValor {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

/* Para no cambiar valores globales del div, lo seleccionamos de otra forma aca */

.infoVehiculoDetailsCheckOut {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    margin-top: -22.5px;
}

.infoVehiculoDetailsCheckOut div {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.infoVehiculoDetailsCheckOut div p {
    margin-left: 5px;
    margin-top: -3.5px;
}

.infoVehiculoDetails div:nth-child(2) {
    margin-top: 0px;
}

.proovedorInformationDetails {
    margin-left: 1em;
}

.datosPagoCheckOut {
    display: flex;
    justify-content: center;
}

.reservaTotal {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.botonFinalizarPago {
    display: flex;
    justify-content: center;
}

.toEndPaymentButton {
    margin-top: 10px;
    border: none;
    width: 50%;
    padding: 5px;
    font-size: 16.5px;
    background-color: #ebe6ea;
    border-radius: 5px;
}

/* CheckOut Final */

.titleArea {
    margin-left: 13.5em;
    margin-top: 2em;
}

.checkoutTitle {
    margin-top: -6.5px;
    font-size: 25px;
}

.paymentCheckOutPageDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.paymentCheckout {
    margin-left: 3em;
}

.documentRequiredMessage {
    padding: 20px;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    max-width: 570px;
}

.documentRequiredMessage div:nth-child(1) {
    margin-top: 15px;
}

.documentRequiredMessage div {
    display: flex;
    flex-direction: row;
    color: #3f3f3f;
}

.docsRequiredTitle {
    margin-top: -18px;
    margin-left: 5px;
    font-size: 26.5px;
}

.descriptionDocsCheckout {
    max-width: 520px;
    margin-top: -20px;
}

#form-checkout {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formDataCheckout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
    background-color: #fcfcfc;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    padding: 5px;
}

.formDataStyled {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 600px;
    margin-top: -5px;
}

.firstDataList {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.secureDataList {
    display: flex;
    flex-direction: row;
    margin-left: -25px;
}

.secureDataList div:nth-child(1) div {
    margin-right: 5px;
    width: 100px;
}

.firstDataList select {
    padding: 3px;
}

.secureDataList div:nth-child(2) div {
    margin-left: 5px;
    width: 95px;
}

.secureDataList label {
    font-size: 11px;
    max-width: 120px;
    margin-left: 2.5px;
}

.secondDataList {
    display: flex;
    flex-direction: column;
    margin-top: 6.5px;
}

.container {
    height: 18px;
    font-size: 13.5px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    background-color: #ffffff;
    padding: 1px 2px;
}


.firstDataList div, .secondDataList div {
    padding: 2.5px;
    width: 200px;
}

.secondDataList input, .secondDataList select {
    margin-top: -2px;
}

.firstDataList div {
    padding: 7.5px;
}

.secondDataList input, .secondDataList select {
    padding: 3px;
    width: 210px;
    font-size: 15px;
}

.secondDataList select {
    width: 220px;
}


.describeFormPay {
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top: 2px;
}

.resumen {
    display: flex;
    flex-direction: column;
    margin-left: -2em;
}

.resumenPagoCheckOutPage2 {
    display: flex;
    flex-direction: column;
    margin-top: -73.5px;
}

.paymentDetailsCheckoutText {
    font-size: 25px;
    font-weight: lighter;
}

.checkoutPago {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
    height: 120px;
}

.checkoutPago div {
    display: flex;
    flex-direction: row;
    width: 320px;
    margin-top: 5px;
    justify-content: space-between;
}

.checkoutPago div:nth-child(4) {
    font-size: 18px;
    font-weight: bold;
}

.caracteristicasCheckoutText {
    font-size: 25px;
    font-weight: lighter;
}

.caracteristicasResumen {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px;
    padding: 10px;
}

.vehiculoCheckout p:nth-child(1) {
    font-size: 19px;
    font-weight: bold;
}

.vehiculoCheckout p:nth-child(2) {
    margin-top: -5px;
    font-size: 13px;
}

#retiroFecha, #regresoFecha {
    font-weight: bold;
    margin-top: -5px;
}

#modeloCheckout {
    color: #000000;
    font-size: 18px;
}

.caracteristicasResumen div p:nth-child(1) {
    font-size: 15px;
    color: #616161;
}

.caracteristicasCheckout div {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.caracteristicasCheckout div:nth-child(1) {
    margin-left: 2.5px;
}

.caracteristicasCheckout div p {
    margin-left: 5px;
    margin-top: -2.5px;
}

.requirementsAgreeCheckout {
    margin-top: 50px;
}

.submitButtonPaymentCheckout {
    margin-top: 10px;
    padding: 5px;
    width: 150px;
    border: none;
    background-color: #8f63a3;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
}

/* Ofertas (Scroll Home) */

.ofertasTitle {
    margin-top: 2em;
    font-size: 37.5px;
    text-align: center;
    color: var(--color-primario)
}

.ofertasDescription {
    margin-top: -36px;
    text-align: center;
}

.ofertasList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.oferta {
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 15px;
}

.oferta:hover {
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 8px 0px;
}

.imgInformation {
    position: relative;
}

.imgInformation img {
    border-radius: 15px;
    height: 170px;
}

.textOfferImage {
    position: absolute;
    top: 8px;
    left: 16px;
    color: #ffffff;
    background-color: var(--color-primario);
    border-radius: 6.5px;
    padding: 2.5px;
    width: 30%;
}

.ofertaInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ofertaName h3 {
    margin-top: -5px;
    margin-right: 60px;
}

.ofertaName p {
    margin-top: -20px;
    text-align: left;
    color: #cccccc;
}

.ofertaRating {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.ofertaRating i {
    color: #e5e905;
}

.ofertaRating p {
    margin-top: -2px;
    margin-left: 2.5px;
    color: #4d4040;
    font-weight: bold;
}

/* PASOS VIAJE */

.pasosFlight {
    text-align: center;
}

.pasosFlightTitle {
    color: var(--color-primario);
    margin-top: 2em;
}

.pasosFlightDescription {
    margin-top: -30px;
}

.explainingPasosFlight {
    margin-top: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.explainingPasosFlight h2 {
    margin-left: 15px;
    margin-top: 40px;
    font-size: 5em;
    color: var(--color-primario);
}

.explainingPasosFlight h3 {
    color: #616161;
    margin-top: 75px;
    margin-left: 15px;
}


/* Login */

.formularioLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.formLoginAndDatos {
    margin-top: 60px;
}

.titleFormLogin {
    font-size: 45px;
    text-align: center;
}

.loginForm {
    display: flex;
    justify-content: center;
}

.datos {
    display: flex;
    flex-direction: column;
    width: 180%;
    margin-top: -35px;
}

.datos input {
    transition: 0.5s;
    padding: 3.5px;
    font-size: 17px;
}

.datos label {
    margin-top: 10px;
}

.lostPasswordText {
    font-size: 11px;
}

.submit {
    transition: 0.5s;
    background-color: var(--color-primario);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
}

.submit:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

.anotherLogin {
    text-align: center;
    color: #c7c7c7;
    ;
}

.alternativeLoginLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgLogin {
    position: relative;
    text-align: center;
}

.imgSource {
    width: 450px;
    height: 610px;
    object-fit: cover;
    border-radius: 10px;
}

.registerImgLogin {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.registerImgLogin div:nth-child(1) {
    padding: 5px;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 10px;
}

.registerImgLogin div:nth-child(1) h2 {
    margin-top: 30px;
}

.registerLoginPageButton {
    transition: 0.5s;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    background-color: rgba(245, 245, 245, 0.5);
    padding: 6px;
    border-radius: 5px;
    width: 95%;
}

.registerLoginPageButton:hover {
    transition: 0.5s;
    background-color: rgba(224, 224, 224, 0.5);
}

/* FALTAN UN PAR DE COSAS ACA COMO PONER BIEN EN EL CENTRO AL LOGIN */

/* REGISTER */

.entryRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entryRegister h1 {
    margin-top: 70px;
    font-size: 52px;
}

.entryRegister h3 {
    margin-top: -55px;
}

.registroForm {
    display: grid;
    /* grid-template-columns: 15em 15em 15em 15em; */
    grid-template-columns: repeat(4, 15em);
    align-items: center;
    justify-content: space-evenly;
}

.registroForm div:last-child {
    justify-self: center;
    grid-column: 1 / span 4;
    width: 500pxpx;
}

.dato {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.dato input {
    padding: 3.5px;
    font-size: 16.5px;
}

.termsAndButton {
    margin-top: 35px;
    text-align: center;
}

.confirm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.termsAgree {
    transform: scale(1.2);
}

.confirm p {
    margin-top: 5px;
    margin-left: 2.5px;
}

.termsAndButton button {
    transition: 0.5s;
    background-color: var(--color-primario);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    width: 25%;
    font-size: 15px;
    margin-top: 15px;
}

.termsAndButton button:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

/* FOOTER */

.footer {
    background-color: #f8f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 2em;
}

.footerPageCheckout {
    background-color: #f8f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 12em;
}

.socialInformation {
    display: flex;
    flex-direction: column;
}

.socialInformation h1 {
    color: var(--color-primario)
}

.socialInformation p {
    margin-top: -25px;
    color: #cccccc;
}

.socialMediaInformation {
    margin-left: -15px;
    margin-top: 10px;
}

.socialMediaInformation a {
    margin-left: 15px;
}

#iconoSocialFooter {
    color: var(--color-primario)
}

.formalInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstColumnFormalInfo,
.secondColumnFormalInfo,
.thirdColumnFormalInfo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}