/* Configuraciones Globales */

html {
 scroll-behavior: smooth;
}

:root {
    --color-primario: #691e63;
    --color-primario-oscuro: #42133e;
}

* {
    font-family: 'Anek Devanagari', sans-serif;
}

.muted {
    color: #c7c7c7;
}

.link {
    cursor: pointer;
    color: #20578d;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Configuracion del Navbar (solamente diseño) */


nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin-top: 10px;
}

.content-left a {
    transition: 0.5s;
    margin-left: 10px;
    color: rgb(34, 34, 34);
}

.content-right a {
    margin-left: 5px;
    padding: 2px;
}

.content-left a:hover {
    transition: 0.5s;
    color: rgb(153, 153, 153);
}

.login {
    transition: 0.5s;
    border: 1px solid var(--color-primario);
    color: var(--color-primario);
    border-radius: 5px;
}

.login:hover {
    transition: 0.5s;
    color: var(--color-primario-oscuro);
}

.register {
    transition: 0.5s;
    background-color: var(--color-primario);
    color: #ffffff;
    border-radius: 5px;
}

.register:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

/* FALTA TODAVIA Entrada: contiene titulo, descripcion, imagenes, etc. (solo diseño) */

.titleEntrada {
    text-align: center;
    color: var(--color-primario);
    font-size: 85px;
}

.splashEntrada {
    font-size: 23px;
    margin-top: -45px;
    margin-left: 18em;
    line-height: 17.5px;
}

.splashVioletText {
    color: var(--color-primario);
}

.splashEntrada p {
    font-size: 15px;
    line-height: 21px;
    max-width: 210px;
    margin-top: 15px;
}

.seeOffer {
    transition: 0.5s;
    background-color: var(--color-primario);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 7px;
    width: 12%;
    margin-top: 15px;
}

.seeOffer:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

/* Input Data Home */

.inputCenter {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.inputData {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: fit-content;
    padding: 15px;
}

.inputDataSelectionFirst {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.chooseFlight {
    margin-top: -5px;
    margin-right: 19em;
}

.chooseRowFlight {
    display: flex;
    flex-direction: row;
    margin-top: -17.5px;
}

.dateInfoFlight {
    margin-top: 5px;
}

.secondaryInfoFlight {
    margin-top: 10px;
}

.secondaryInfoFlight select, .dateInfoFlight input {
    padding: 3px;
}

.submitDataDiv {
    display: flex;
    justify-content: center;
}

.submitDataDiv button {
    transition: 0.5s;
    padding: 6.5px;
    width: 18%;
    border: none;
    border-radius: 7.5px;
    background-color: var(--color-primario);
    color: #ffffff;
}

.submitDataDiv button:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

.input input {
    margin-left: 8px;
}


/* Ofertas (Scroll Home) */

.ofertasExclusivas {
    text-align: center;
}

.ofertasTitle {
    margin-top: 2em;
    font-size: 37.5px;
    color: var(--color-primario)
}

.ofertasDescription {
    margin-top: -36px;
}

.ofertasList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.oferta {
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 15px;
}

.oferta:hover {
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 8px 0px;
}

.imgInformation {
    position: relative;
}

.imgInformation img {
    border-radius: 15px;
}

.textOfferImage {
    position: absolute;
    top: 8px;
    left: 16px;
    color: #ffffff;
    background-color: var(--color-primario);
    border-radius: 6.5px;
    padding: 2.5px;
    width: 30%;
}

.ofertaInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ofertaName h3 {
    margin-top: -5px;
    margin-right: 45px;
}

.ofertaName p {
    margin-top: -20px;
    margin-left: 15px;
    color: #cccccc;
}

.ofertaRating {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.ofertaRating i {
    color: #e5e905;
}

.ofertaRating p {
    margin-top: -2px;
    margin-left: 2.5px;
    color: #cccccc;
}

/* PASOS VIAJE */

.pasosFlight {
    text-align: center;
}

.pasosFlightTitle {
    color: var(--color-primario);
    margin-top: 2em;
}

.pasosFlightDescription {
    margin-top: -30px;
}

.explainingPasosFlight {
    margin-top: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.explainingPasosFlight h2 {
    margin-left: 15px;
    margin-top: 40px;
    font-size: 5em;
    color:var(--color-primario);
}

.explainingPasosFlight h3 {
    color: #616161;
    margin-top: 75px;
    margin-left: 15px;
}


/* Login */

.formularioLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.formLoginAndDatos {
    margin-top: 60px;
}

.titleFormLogin {
    font-size: 45px;
    text-align: center;
}

.loginForm {
    display: flex;
    justify-content: center;
}

.datos {
    display: flex;
    flex-direction: column;
    width: 180%;
    margin-top: -35px;
}

.datos input {
    transition: 0.5s;
    padding: 3.5px;
    font-size: 17px;
}

.datos label {
    margin-top: 10px;
}

.lostPasswordText {
    font-size: 11px;
}

.submit {
    transition: 0.5s;
    background-color: var(--color-primario);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
}

.submit:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

.anotherLogin {
    text-align: center;
    color: #c7c7c7;;
}

.alternativeLoginLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgLogin {
    position: relative;
    text-align: center;
}

.imgSource {
    width: 450px;
    height: 610px;
    object-fit: cover;
    border-radius: 10px;
}

.registerImgLogin {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.registerImgLogin div:nth-child(1) {
    padding: 5px;
    background-color:rgba(245, 245, 245, 0.5);
    border-radius: 10px;
}

.registerImgLogin div:nth-child(1) h2 {
    margin-top: 30px;
}

.registerLoginPageButton {
    transition: 0.5s;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    background-color:rgba(245, 245, 245, 0.5);
    padding: 6px;
    border-radius: 5px;
    width: 95%;
}

.registerLoginPageButton:hover {
    transition: 0.5s;
    background-color:rgba(224, 224, 224, 0.5);
}

/* FALTAN UN PAR DE COSAS ACA COMO PONER BIEN EN EL CENTRO AL LOGIN */

/* REGISTER */

.entryRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entryRegister h1 {
    margin-top: 70px;
    font-size: 52px;
}

.entryRegister h3 {
    margin-top: -55px;
}

.registroForm {
    display: grid;
    /* grid-template-columns: 15em 15em 15em 15em; */
    grid-template-columns: repeat(4, 15em);
    align-items: center;
    justify-content: space-evenly;
}

.registroForm div:last-child {
    justify-self: center;
    grid-column: 1 / span 4;
    width: 500pxpx;
}

.dato {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.dato input {
    padding: 3.5px;
    font-size: 16.5px;
}

.termsAndButton {
    margin-top: 35px;
    text-align: center;
}

.confirm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.termsAgree {
    transform: scale(1.2);
}

.confirm p {
    margin-top: 5px;
    margin-left: 2.5px;
}

.termsAndButton button {
    transition: 0.5s;
    background-color: var(--color-primario);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px;
    width: 25%;
    font-size: 15px;
    margin-top: 15px;
}

.termsAndButton button:hover {
    transition: 0.5s;
    background-color: var(--color-primario-oscuro);
}

/* FOOTER */

.footer {
    background-color: #f8f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.socialInformation {
    display: flex;
    flex-direction: column;
}

.socialInformation h1 {
    color: var(--color-primario)
}

.socialInformation p {
    margin-top: -25px;
    color: #cccccc;
}

.socialMediaInformation {
    margin-left: -15px;
    margin-top: 10px;
}

.socialMediaInformation a {
    margin-left: 15px;
}

#iconoSocialFooter {
    color: var(--color-primario)
}

.formalInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.firstColumnFormalInfo, .secondColumnFormalInfo, .thirdColumnFormalInfo {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}