{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DS Travel</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap" rel="stylesheet">
    </head>
<body>
    <!-- NAVBAR -->
    {% include 'navbar.html' %}
    <!-- TABLA DE COMPRAS -->
    <p style="text-align: center; color: #cccccc;">Los pagos en espera de dinero pueden ser tomados por otros usuarios, ya que mientras el usuario no implique ninguno de sus bienes, el vehiculo no estara a nombre suyo.</p>
    <table class="tableComprasUser">
        <tr class="titulosTable">
            <th>Auto</th>
            <th>Estado del pago</th>
            <th>Precio</th>
            <th>Detalles</th>
        </tr>
        {% for campo in compra %}
        <tr>
            <td>{{ campo.marca }} {{ campo.modelo }}</td>
            <td>
                {% if campo.status == "approved" %}
                Aprobado
                {% endif %}
                {% if campo.status == "pending" %}
                En Espera
                {% endif %}
            </td>
            <td>${{ campo.precio }}</td>
            <td>
                <form action="http://localhost:8000/user/compras/order/{{ campo.idPayment }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ campo.idPayment }}" name="check_id" />
                    <button class="detailsTableLink">Ver detalles</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <!-- SCRIPTS -->
    <script src="https://kit.fontawesome.com/e80c9c3cc8.js" crossorigin="anonymous"></script>
</body>
</html>