{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto sobre Gestion Vehicular - Grupo C</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- RECORDAR QUE ESTO ES UNA TEMPLATE NO LA PAGINA COMPLETA -->
    <!-- NAVBAR -->
    {% include 'navbar.html' %}
    <!-- LOGIN -->
    <div class="formularioLogin">
        <div class="formLoginAndDatos">
            <h1 class="titleFormLogin">Iniciar Sesion</h1>
            <form class="loginForm" action="/login" method="POST">
                {% csrf_token %}
                <div class="datos">
                    <label>Correo Electronico:</label>
                    <input type="text" placeholder="ejemplo@hotmail.com" name="email" required>
                    <label>Contraseña:</label>
                    <input type="password" placeholder="" name="password" required> 
                    <p class="lostPasswordText">Olvidaste tu contraseña? <strong><a class="link">Recuperala aqui.</a></strong></p>
                    <button class="submit">Continuar</button>
                </div>
            </form>
            <div>
                <h3 class="anotherLogin">Iniciar sesion con:</h3>
                <div class="alternativeLoginLogos">
                    <form action="{% provider_login_url 'google' %}" method="post">
                        {% csrf_token %}
                        <button class="linkOAUTH" type="submit">
                            <i class="fa-brands fa-google fa-xl"></i>
                        </button>
                    </form>
                    <form action="{% provider_login_url  'facebook' method='oauth2' %}" method="post">
                        {% csrf_token %}
                        <button class="linkOAUTH" type="submit">
                            <i class="fa-brands fa-facebook fa-xl"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="imgLogin">
            <img src={% static 'img/login.jpg' %} class="imgSource">
            <div class="registerImgLogin">
                <div>
                    <h2>¿No tienes una cuenta?</h2>
                    <h4>Registrate ya y vive la experiencia de tus sueños.</h4>
                </div>
                <a href="/register" class="registerLoginPageButton">Registrarse</a>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    {% include 'footer.html' %}
    <!-- FONT AWESOME: importa iconos -->
    <script src="https://kit.fontawesome.com/e80c9c3cc8.js" crossorigin="anonymous"></script>
</body>
</html>