{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto sobre Gestion Vehicular - Grupo C</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- RECORDAR QUE ESTO ES UNA TEMPLATE NO LA PAGINA COMPLETA -->
    <!-- NAVBAR -->
    {% include 'navbar.html' %}
    <!-- REGISTER -->
    <div class="entryRegister">
        <h1>Registrarse</h1>
        <h3 class="muted">Por favor complete todos los campos.</h3>
    </div>
    <div class="registroFormDiv">
        <form class="registroForm" method="POST" action="/register">
            {% csrf_token %}
            <div class="dato">
                <label>Correo Electronico</label>
                <input type="email" name="email" />
            </div>
            <div class="dato">
                <label>Contraseña</label>
                <input type="password" name="password" />
            </div>
            {{ formulario.as_div }}
            <input type="hidden" name="namesurnameid" id="namesurname"/>
            <div class="termsAndButton">
                <p class="muted">Antes de continuar, por favor lee nuestros <strong><a class="link">Terminos y Condiciones</a></strong></p>
                <div class="confirm">
                    <input type="checkbox" class="termsAgree" required/>
                    <p>He leido y acepto los terminos y condiciones de uso.</p>
                </div>
                <button type="submitButtonRegister" id="submitButtonRegister">Continuar</button>
            </div>
        </form>
    </div>
    <!-- FOOTER -->
    {% include 'footer.html' %}
    <!-- FONT AWESOME: importa iconos -->
    <script src="https://kit.fontawesome.com/e80c9c3cc8.js" crossorigin="anonymous"></script>
    <script src={% static 'js/register.js' %}></script>
</body>
</html>